@import "../../../../css/mixins.scss";

$color_1: #E10019;
$color_2: #fff;
$color_3: #bbb;
$color_4: rgb(151,151,151);
$font_family_1: "MasterPortalFont","Arial Narrow",Arial,sans-serif;
$background_color_1: rgb(8, 88, 158);
$background_color_2: rgba(0,0,0,.5);
$background_color_3: rgba(0,0,0,.6);
$background_color_4: rgba(0,0,0,.05);
$background_color_5: rgba(0,0,0,.1);
$border_color_1: inherit;

.filter {
    .detailview-head {
        >label {
            font-size: 16px;
            color: $color_1;
            padding-top: 4px;
        }
        padding: 8px 0;
        width: 100%;
        display: inline-block;
        .filter-info {
            clear: both;
            padding: 10px 15px;
        }
        button {
            float: right;
            margin-right: 15px;
            color: $color_2;
            background-color: $background_color_1;
        }
        .btn {
            &:hover {
                opacity: 0.8;
            }
        }
    }
    .toggleIsActive {
        .glyphicon-remove {                
            &:focus {
                @include primary_action_focus;
            }  
            color: $color_3;
        }
    }
    .value-views-container {
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid rgb(229, 229, 229);
        padding: 8px 15px;
        .text {
            font-family: $font_family_1;
            font-size: 12px;
            float: left;
            padding: 6px 4px 0 0;
            padding-left: 0;
        }
        .value-text {
            float: left;
            margin: 2px;
            padding: 3px 6px;
            font-size: 12px;
        }
        .glyphicon-remove {
            font-size: 9px;
            padding-top: 2px;
        }
        .remove-all {
            color: $color_2;
            background-color: $background_color_2;
            &:hover {
                @include primary_action_hover;
            } 
        }
        .strikethrough {
            position: relative;
            padding: 0;
            margin: 0;
        }
    }
    .dropdown-container {
        .info-text {
            font-size: 11px;
        }
        .filter-option {
            color: #757575;
        }
    }
    .slider-container {
        .info-text {
            font-size: 11px;
        }
    }
    .valueView {
        color: $color_2;
        background-color: $background_color_2;
        &:hover {
            @include primary_action_hover;
        }
        .line-through {
            .value-text {
                color: $color_2;
            }
        }
    }
    .strikethrough {
        &:before {
            color: $color_1;
            position: absolute;
            content: "";
            left: 0;
            top: 50%;
            right: 0;
            width: 100%;
            border-top: 1px solid;
            border-color: $border_color_1;
            -webkit-transform: rotate(-7deg);
            -moz-transform: rotate(-7deg);
            -ms-transform: rotate(-7deg);
            -o-transform: rotate(-7deg);
            transform: rotate(-7deg);
        }
    }
    #filter-loader {
        height: 200px;
        width: 100%;
        position: relative;
        img {
            position: absolute;
            left: 50%;
            top: 50%;
        }
    }
}
