<!DOCTYPE html>
<% if (isLayerVisible) { %>
<div class="detailview-head">
    <% if (sendToRemote) { %>
        <label class="col-xs-6"><%= name %><%= filter %></label>
        <button class="zoom-btn btn btn-default btn-sm col-xs-5 col-md-5 col-sm-5" title="<%= zoomOnResults %>">
            <span class="glyphicon glyphicon-search"></span>
            <span class="feature-count"><%= featureIds.length %> <%= result %></span>
        </button>
    <% }
    else { %>
        <label class="col-xs-8"><%= name %><%= filter %></label>
        <label class="col-xs-4 feature-count"><%= featureIds.length %> <%= results %></label>
    <% } %>
    <% if (this.model.has("info")) { %>
        <div class="filter-info"><%= info %></div>
    <% } %>
</div>

<div class="value-views-container">
    <div class="text"><%= yourSelection %></div>
    <span tabindex="0" class="remove-all value-text"><%= deleteAll %></span>
    <div class="text"><%= noFilterOptionSelected %></div>
</div>
<%}%>
